.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.buttonDiv {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

button {
  gap: 10px;
  padding: 7px;
  font-size: medium;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
